.card
{
    display: flex;
    flex-direction: row;
    background-color: rgb(171, 183, 235);
    width: 800px;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    border: 8px solid;
    border-color: rgb(100, 97, 150);
}

#info
{
    display: flex;
    background-color: rgb(218, 158, 205);
    width: 400px;
    height: 550px;
    align-items: center;
    font-size: 20px;
}

.card img
{
    width: 250px;
    height: 350px;
    object-fit: cover;
}

li
{
    margin: 20px;
}